parameters:
  level: 8
  reportUnmatchedIgnoredErrors: false
  excludes_analyse:
    - %currentWorkingDirectory%/boostrap/cache/*
    - %currentWorkingDirectory%/vendor/*
    - %currentWorkingDirectory%/storage/*
  ignoreErrors: []
