parameters:
  level: 8
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
  excludes_analyse:
    - %currentWorkingDirectory%/boostrap/cache/*
    - %currentWorkingDirectory%/vendor/*
    - %currentWorkingDirectory%/storage/*
    - %currentWorkingDirectory%/ecs.php
  ignoreErrors:
      - '#Property (.*)+ |Illuminate\Support\Collection<mixed, mixed>#'
